<h1>FIND A PRO</h1>

<p>
    Now I'm trying to post tasks that should be executed
</p>


<ul>
    <form action="/adding-task" method="post">

        <label for="value">task name</label>
        <input type="text" name="taskName">

        <label for="value">description</label>
        <input type="text" name="description">

        <label for="value">expected price</label>
        <input type="text" name="expectedPrice">

        <button type="submit">Add</button>
    </form>


</ul>