<h1>FIND A PRO</h1>

<p>
    Now I'm trying to post tasks that should be executed
</p>


<ul>
    <form action="/adding_task" method="post">

        <label for="value">task name</label>
        <input type="text" name="username">
        <label for="value">description</label>
        <input type="text" name="password">
        <label for="value">expected price</label>
        <input type="text" name="phoneNumber">
        <label for="value">Email</label>
        <button type="submit">Add</button>
    </form>


</ul>