<h1>FIND A PRO</h1>
<p>
    Now I'm trying to post tasks that should be executed
</p>
<p>
        <a href="/login">login</a>
    </p>
<p>
    <a href="/registration">registration</a>
</p>
<p>
    <a href="/tasks">tasks</a>
</p>


<p>
    <a href="/adding-task">add new task</a>
</p>
<p>
    <a href="/admin">admin page</a>
</p>
<p>
    <a href="/user-profile">user profile</a>
</p>
<p>
    <a href="/finished-tasks">finished tasks</a>
</p>
<p>
    <a href="/roles">roles</a>
</p>
<p>
    <a href="/categories">categories</a>

</p>
<p>
    <a href="/group/categories">categories in group лабы по проге</a>
</p>
