<h1>its registration</h1>

<p>
    Now I'm trying to post tasks that should be executed
</p>

<form action="/registration" method="post">
<p>
    <label for="value">Login (username)</label>
    <input type="text" name="username">
</p>
<p>
    <label for="value">first name</label>
    <input type="text" name="firstName">
</p>
    <p>
    <label for="value">last name</label>
    <input type="text" name="lastName">
    </p>
    <p>
        <label for="value">Password</label>
        <input type="text" name="password">
    </p>

    <p>
        <label for="value">PhoneNumber</label>
        <input type="text" name="phoneNumber">
    </p>
    <p>
        <label for="value">Email</label>
        <input type="text" name="email">
    </p>
    <p>
        <button type="submit">Register</button>
    </p>
</form>

