<h1>Here you can find tasks you want to do</h1>

<ul>
    {{#tasks}}
        <li>{{taskName}}
            {{expectedPrice}}
            {{customer.username}}
            {{status}}
            <form action="/close/tasks/{{id}}" method="post">
                <button type="submit">Close Task</button>
            </form>

            <form action="/delete/tasks/{{id}}" method="post">
                <button type="submit">Delete</button>
            </form>
        </li>
    {{/tasks}}
</ul>
